/* Pagrindinis svetainės fonas */
.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0; /* Fonas bus pačioje apačioje */
    background-size: cover;
    background-position: center;
}

/* Permatomas overlay ant fono */
#overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

/* Permatomas overlay ant fono */
#overlay1.expanded {
    background-color: rgba(31, 48, 38, 0.685);/* Pusiau permatoma juosta */
}

/* Svetainės turinys, kuris bus virš overlay */
.allContent {
    position: relative;
    z-index: 2; /* Turinys bus virš overlay */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#top-bar {
    top: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(31, 48, 38, 0.685); /* Pusiau permatoma juosta */
    display: flex;  
    transition: height 0.5s ease, 
    background-color 0.5s ease; /* Smooth transitions */
}

#top-bar.expanded {
    background-color: #00000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
   
}

.top-bar-content.expanded{
    align-items: center;
    margin-left: 30%;
}

.top-bar-title{
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-weight: 600;
    color: #ffffff;
    font-size: x-large;
}

.top-bar-plus{
    width: 20%;
    display: flex;
    justify-content: end;
    padding-right: 40px;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
}

#plus-btn {
    font-size: 2rem;
    cursor: pointer;
}

#minus-btn {
    font-size: 2rem;
    cursor: pointer;
    display: none; 
    position: fixed;
    top: 41px; 
    right: 40px; 
    z-index: 10; 
}

#to-do-btn, #notes-btn{
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: #ded48b;
}

#to-do-btn:hover, #to-do-btn.active, 
#notes-btn:hover, #notes-btn.active{
    color: #fbff23;
    font-weight: 700;
}


/* ---------------------------------------------------------------- */ 

.container{
     margin-inline: auto;
     padding-inline: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .container.expanded{
      position: absolute;
      top: 35%;
      right: 25%; 
      left: 25%;
      transform: translate(-50%, -50%);
 }


.painel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    font-weight: 700;
}

.painel p{
    transition: .8s ease-in;
    font-size: 12px;
    color: #ffffff;
}

.painel p.active{
    opacity: 1;
    color: #fbff23;
    font-weight: 700;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    width: 150px;
}

.time p{
    font-size: 35px;
    font-weight: 700;
}

.time p:nth-of-type(2){
    margin-inline: 1rem;
}

.controls{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 80px;
    padding-bottom: 10px;
}

.controls button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    max-height: 50px;
    margin-bottom: -10px;
    width: 40px;
    color: #ffffff;
}

.controls #reset{
    display: none;
}








/* --------------------------------------------------------------------------- */

/* TO DO and NOTES */

/* ---------------------------------------------------------------- */ 

/* TO DO LIST */

#list-container {
    max-height: 440px; 
    overflow-y: auto; /* Enable vertical scrolling */
    cursor: grab;
}

#list-container:active {
    cursor: grabbing; /* Change cursor when dragging */
}

#list-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* For Firefox */
#list-container {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

#list-container li {
    position: relative;
    padding-right: 20px; /* Add padding for the delete button space */
    list-style: none;
}

#list-container li span {
    position: absolute;
    right: 5px; /* Adjust the right distance as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: rgb(127, 106, 141); /* Optional: change the color if desired */
}

#list-container li span:hover{

    color: rgb(97, 79, 109); /* Optional: change the color if desired */
}

.todoTitle{
    color: #eccbdf;
}


#popup-to-do{
    display: none; 
    width: 400px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color:  rgba(31, 48, 38, 0.685);
    max-height: 600px;
    scale: 0.9;
    transition: all 0.5s;
}

#popup-to-do.open, #popup-notes.open{
    background-color: rgba(58, 82, 67, 0);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eddff0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.btn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #e5bcec;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.btn:hover{
    background: #cd93d7;
}

#popup-to-do ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-left: -40px;
    background-color: #eccbdf;
    margin-bottom: 10px;
    min-height: 30px;
    border-radius: 50px;
} 

#popup-to-do ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/checkbox.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(img/circle.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}

/* --------------------------------------------------------------------------- */

/* ----------- NOTES ----------- */

  #popup-notes {
    display: none; 
    background-color: rgba(31, 48, 38, 0.685);
    width: 400px;
    min-height: 0px;
    padding: 20px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 10px;
    cursor: pointer;
    max-height: 625px;

    scale: 0.9;
    transition: all 0.5s;
}


.input-box {
    position: relative;
    max-width: 400px;
    min-height: 50px;
    padding: 10px;
    padding-bottom: 45px;
    padding-top: 5px;
    background: #eccbdf;
    color: #555;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
}
.notesDiv {
    width: 400px;
    max-height: 530px;
    overflow-y: auto; /* Enable vertical scrolling */
    color: #ffffff;
    margin-top: -33px;
}
.btn2 {
    border: none;
    outline: none;
    background: #e5bcec;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
    width: 30px;
    height: 30px;
}
.btn2:hover {
    background: #cd93d7;
}

.input-box img{
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.input-box.note-odd {
    background-color: #d8b9d7;
}

.input-box.note-even {
    background-color: #f4d8ec; 
}


.notesDivTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    min-height: 40px;
    color: #eccbdf;
    padding: 20px;
    margin-left: -15px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: grab;
    max-height: 500px;
    overflow: auto;
}

.notesDiv:active {
    cursor: grabbing; /* Change cursor when dragging */
}

.notesDiv::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* For Firefox */
.notesDiv {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}



/* --------------------------------------------------------------------------- */

/* SETTINGS */

.pomodoroSessions {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 13px;

}

.settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#settings-btn, #information-btn {
    color: #494949;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    width: 38px;
}

#settings-btn{
    background-color: #efccea; 
}

#information-btn {
    background-color: #a7daa5; 
}


.popup {
    width: 60%;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #f4d8ec; 
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 30px;
    padding-top: 0%;
    border-radius: 20px;

    transition: height 0.5s ease,
    width 0.5s ease;

    overflow-y: auto;
}

.settingsCategory{
    background-color:#eacce2;
    padding: 10px;
    border-radius: 10px;
    color: #b68eb4;
    font-size:18px;
}

.timerSettings { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Ensures all items align vertically */
    padding: 10px;
}

.windowOverlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
}

.selectioni{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: smaller;
    font-weight: 700;
}

.selectioni p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: var(--color-secondary);
    font-weight: 700;
}

.selectioni i{
    margin-right: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.selectioni select{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: rgb(87, 79, 79);
    font-weight: 700;
}

.selectioni select option{
    font-weight: 700;
}

.lastSelect{
    margin-right: 1000px;
}

.close-btn {
    background: none; /* No background */
    border: none; /* No border */
    font-size: 20px; /* Increase font size */
    cursor: pointer; /* Change cursor on hover */
    position: absolute; /* Position it at the top right */
    top: 10px; /* Space from the top */
    right: 10px; /* Space from the right */
}

.close-btn-info {
    cursor: pointer; /* Change cursor to pointer on hover */
    background-color:#f4d8ec;
    color: #494949; 
    font-size: 25px; /* Adjust size for better visibility */
    border: none; /* Optional: remove default button border */
}

.close-button-info{
    width: 100%;
    position: sticky; /* Or 'fixed' if you want it completely fixed */
    top: 0px; /* Distance from the top of the container or viewport */
    right: 10px; /* Distance from the right side */
   
    background-color:#f4d8ec;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}




.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px;
}

.save-settings-btn {
    outline: none;
    padding: 10px 30px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px; /* Adjusted to avoid split appearance */
    font-weight: 600;
    margin-right: 0;
    margin-left: auto;
    background-color: transparent; /* Use fully transparent background */
    border: 2px solid #b4c7e8; /* Combine border width and color in one */
    color: #7ea2e0;
    box-sizing: border-box; /* Ensure border is included in dimensions */
}

.save-settings-btn:hover{
    background-color: #b4c7e8;
    color: #7ea2e0;
}

/* QUOTES */

.quote {
    position: fixed;
    bottom: 20px; /* Position it at the bottom */
    left: 5%;
    transform: translateX(-10%); /* Center it horizontally */
    text-align: left;
    transition: top 0.5s; /* Smooth transition for moving */
    font-size: 18px;
    font-weight: 600;
    max-width: 500px;
    padding: 20px;
    border-radius: 30px;
    color: rgb(255, 219, 240); /* Change to your preferred color */
    background-color: rgba(252, 251, 251, 0);
}

.quote.top {
    left: 50%;
    transform: translateX(-50%);
    top: 30px; /* Position it at the top */
    bottom: auto; /* Remove bottom positioning */
    text-align: center;
    max-width: 350px;
    color: rgb(255, 219, 240); /* Change to your preferred color */
    background-color: rgba(252, 251, 251, 0);
}

.quote.top2 {
    left: 50%;
    transform: translateX(-50%);
    top: 120px; /* Position it at the top */
    bottom: auto; /* Remove bottom positioning */
    text-align: center;
    max-width: 350px;
    color: rgb(255, 219, 240); /* Change to your preferred color */
    background-color: rgba(252, 251, 251, 0);
}





/* Solid border */
hr.solid {
    border-top: 1px solid;
    border-color: #b68eb430;
  }
  

  .background-option {
    width: 150px; /* Adjust as needed */
    height: auto;
    cursor: pointer;
    border: 3px solid transparent; /* Default border */
    transition: border-color 0.3s ease; /* Smooth transition for border */
}

.background-option.selected {
    border-color: rgb(84, 174, 84); /* Green border when selected */
}


.note-container {
    display: flex; /* Aligns input box and delete button in a row */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Space between notes */
}

.input-box1 {
    flex-grow: 1; /* Allow the input box to grow and take available space */
    min-height: 40px; /* Ensure there's a minimum height */
    overflow-wrap: break-word; /* Handle long words */
    padding: 5px; /* Add padding for better usability */
    max-width: 360px;
    background-color: #b68eb4;
}

.delete-btn {
    width: 20px; /* Set a width for the delete button */
    height: 20px; /* Set a height for the delete button */
    margin-left: 10px; /* Space between text and button */
    cursor: pointer; /* Change cursor to pointer */
}

.logo {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
    margin-right: 10px; /* Space between logo and text */
}

#play-music-btn{
    background-color: #fcd6bf00; 
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    height: 38px;
    width: 38px;
    font-size:larger;
}

#play-music-btn i {
    position: relative;
}

/* Add the cross-off line when the button has the 'crossed-off' class */
#play-music-btn.crossed-off i::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the line vertically */
    left: 0;
    width: 150%;
    height: 10%; /* Line thickness */
    background-color: rgb(255, 255, 255); /* Line color */
    transform: rotate(15deg); /* Slightly tilt the line */
    margin-left: -3px;
}

/* Menu button styles */
#menu-btn {
    display: none; /* Hidden by default */
    font-size: 24px;
    cursor: pointer;
}




/* Styles for smaller screens */
@media (max-width: 1200px) {
    .popup {
        width: 80%;
        max-height: 80%;
        position: fixed;
        transform: translate(-50%, -50%); 
        transition: height 0.5s ease,
        width 0.5s ease;
    }

    .top-bar-title{
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 600;
        color: #ffffff;
        font-size: x-large;   
    }

    #top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-bar-content {
        width: 100%;
        height: 40%;
        display: flex; /* Hide To-Do and Notes buttons */
        flex-direction: column;
        align-items: end;
        padding-left: 0%;
        padding-right: 0%;
    }

    .container {
        position: absolute;
        top: 35%;
        right: 25%; 
        left: 25%;
        transform: translate(-50%, -50%);
        transform: scale(1.5);
        transition: transform 0.5s;
    }

    #plus-btn, #minus-btn{
        display: none;
    }

    #popup-to-do, #popup-notes{    
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1);
        /* margin-top: -2%; */
        transition: margin-left 1s,
        margin-right 1s;
    }
   
    
}
 
@media (max-width: 800px) {
        
    .quote {
        left: 50%;
        transform: translateX(-50%);
        top: 120px; /* Position it at the top */
        bottom: auto; /* Remove bottom positioning */
        text-align: center;
        max-width: 350px;
        color: rgb(255, 219, 240); /* Change to your preferred color */
        background-color: rgba(252, 251, 251, 0);
    }
}

#info-popup li{
    margin-bottom: 5px;
    color:#494949;
}


body{
    scrollbar-width: thin;
    scrollbar-color: #b68eb4 rgba(255, 255, 255, 0);
    border-radius: 10px;
  }
  
  /* Works on Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 20px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;

  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #b68eb4;
    border-radius: 20px;
  }