/* Pagrindinis svetainės fonas */
.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0; /* Fonas bus pačioje apačioje */
    background-size: cover;
    background-position: center;
    overflow-y: auto;
    overflow-x: auto;
}

/* Permatomas overlay ant fono */
#overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

/* Permatomas overlay ant fono */
#overlay1.expanded {
    background-color: rgba(31, 48, 38, 0.685);/* Pusiau permatoma juosta */
}

/* Svetainės turinys, kuris bus virš overlay */
.allContent {
    position: relative;
    z-index: 2; /* Turinys bus virš overlay */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    /* height: 100%; */
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#top-bar {
    top: 0;
    width: 100%;
    min-height: 40%;
    background-color: rgba(31, 48, 38, 0.685); /* Pusiau permatoma juosta */
    display: flex;  
    transition: height 0.5s ease, 
    background-color 0.5s ease; /* Smooth transitions */
}

#top-bar.expanded {
    background-color: #00000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
   
}

.top-bar-content.expanded{
    align-items: center;
    margin-left: 30%;
}

.top-bar-title{
    max-width: 20%;
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-weight: 600;
    color: #ffffff;
    font-size: x-large;
}

.top-bar-title.expanded{
    padding-top: 30px;
}

.top-bar-plus{
    width: 20%;
    display: flex;
    justify-content: end;
    padding-right: 3%;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
}

#plus-btn {
    font-size: 2rem;
    cursor: pointer;
}

#minus-btn {
    font-size: 2rem;
    cursor: pointer;
    display: none; 
    position: fixed;
    top: 41px; 
    right: 40px; 
    /* z-index: 10;  */
}

#to-do-btn, #notes-btn{
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    color: #ded48b;
}

#to-do-btn:hover, #to-do-btn.active, 
#notes-btn:hover, #notes-btn.active{
    color: #fbff23;
    font-weight: 700;
}


/* ---------------------------------------------------------------- */ 

.container{
     margin-inline: auto;
     padding-inline: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .container.expanded{
      position: absolute;
      top: 35%;
      right: 25%; 
      left: 25%;
      transform: translate(-50%, -50%);
 }


.painel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    font-weight: 700;
}

.painel p{
    transition: .8s ease-in;
    font-size: 12px;
    color: #ffffff;
}

.painel p.active{
    opacity: 1;
    color: #fbff23;
    font-weight: 700;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    -webkit-box-shadow: 0px 0px 15px 10px var(--color-shadow);
    box-shadow: 0px 0px 15px 10px var(--color-shadow);
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    width: 150px;
}

.time p{
    font-size: 35px;
    font-weight: 700;
}

.time p:nth-of-type(2){
    margin-inline: 1rem;
}

.controls{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 80px;
    padding-bottom: 10px;
}

.controls button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    max-height: 50px;
    margin-bottom: -10px;
    width: 40px;
    color: #ffffff;
}

.controls #reset{
    display: none;
}




/* ---------------------------------------------------------------- */ 

/* TO DO LIST */

#list-container {
    max-height: 440px; 
    overflow-y: auto; /* Enable vertical scrolling */
    cursor: grab;
    scrollbar-width: none; 
}

#list-container:active {
    cursor: grabbing; /* Change cursor when dragging */
}

#list-container::-webkit-scrollbar {
    display: none;
}

/* Delete to-do task buttno */
#list-container li span {
    position: absolute;
    right: 5px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-weight: bold;
    color: rgb(127, 106, 141); 
}

#list-container li span:hover{
    color: rgb(97, 79, 109); 
}

.todoTitle{
    color: #eccbdf;
}


#popup-to-do{
    display: none; 
    width: 400px;
    margin-left: 50px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    background-color:  rgba(31, 48, 38, 0.685);
    max-height: 600px;
    scale: 0.9;
    transition: all 0.5s;
}

/* Add task input field and button */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eddff0;
    border-radius: 50px;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* input task */
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
}

/* Add task button */
.btn{
    border: none;
    padding: 16px 50px;
    background: #e5bcec;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 40px;
}

.btn:hover{
    background: #cd93d7;
}

/* delete task button */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
}


/* Remove margins and padding from the list */
#popup-to-do ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  #popup-to-do ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    cursor: pointer;
    position: relative;
   
    background-color: #eccbdf;
    margin-bottom: 10px;
    min-height: 30px;
    border-radius: 50px;
    color:#555;
  }
  
  /* When clicked on, add a background color and strike out text */
  #popup-to-do ul li.checked {
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #popup-to-do ul li.checked::before {
    content: '';
    position: absolute;
    border-color:rgb(127, 106, 141);
    border-style: solid;
    border-width: 0 4px 4px 0;
    top: 14px;
    left: 16px;
    transform: rotate(45deg);
    height: 13px;
    width: 6px;
  }
  

/* todo and notes div when expanded */
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1000px;
}

/* --------------------------------------------------------------------------- */

/* ----------- NOTES ----------- */

  #popup-notes {
    display: none; 
    width: 400px;
    /* width: 30%; */
    min-height: 0px;
    padding: 20px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: 50px;
    border-radius: 10px;
    background-color: rgba(31, 48, 38, 0.685);
    cursor: pointer;
    max-height: 60%;
    scale: 0.9;
    transition: all 0.5s;
}

/* note input */
.input-box {
    position: relative;
    max-width: 400px;
    min-height: 50px;
    padding: 10px;
    padding-bottom: 45px;
    padding-top: 10px;
    color: #555;
    outline: none;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}

/* all notes */
.notesDiv {
    /* width: 100%; */
    height: 85%;
    overflow-y: auto; 
    margin-top: -33px;
}

/* add note button */
.btn2 {
    border: none;
    background: #e5bcec;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 40px;
    font-weight: 700;
    width: 30px;
    height: 30px;
}

.btn2:hover {
    background: #cd93d7;
}

/* delete note image */
.input-box img{
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* different colours of notes */
.input-box.note-odd {
    background-color: #d8b9d7;
}

.input-box.note-even {
    background-color: #f4d8ec; 
}

/* title ant add note button */
.notesDivTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    color: #eccbdf;
    padding-left: 0px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    cursor: grab;
    overflow: auto;
}

.notesDiv:active {
    cursor: grabbing; /* Change cursor when dragging */
}

.notesDiv::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* For Firefox */
.notesDiv {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}


/* --------------------------------------------------------------------------- */

/* SETTINGS */

/* pomodoro sessions count display */
.pomodoroSessions {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 13px;
}

/* settings, info and music buttons */
.settings {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#settings-btn, #information-btn {
    color: #494949;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
    width: 38px;
}

#settings-btn{
    background-color: #efccea; 
}

#information-btn {
    background-color: #a7daa5; 
}

/* info and settigns popup */
.popup {
    width: 60%;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #f4d8ec; 
    border: 1px solid #ccc;
    padding: 30px;
    padding-top: 0%;
    border-radius: 20px;

    transition: height 0.5s ease,
    width 0.5s ease;

    overflow-y: auto;
}

/* Settings and info category title */
.settingsCategory{
    background-color:#eacce2;
    padding: 10px;
    border-radius: 10px;
    color: #b68eb4;
    font-size:18px;
}

.timerSettings { 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Ensures all items align vertically */
    padding: 10px;
}

.windowOverlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

/* selections container */
.selectioni{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: smaller;
    font-weight: 700;
}

.selectioni p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 700;
}

.selectioni select{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    color: rgb(87, 79, 79);
    font-weight: 700;
}

.selectioni select option{
    font-weight: 700;
}

.close-btn-info {
    cursor: pointer; 
    background-color:#f4d8ec;
    color: #494949; 
    font-size: 25px; 
    border: none;
}

/* title and close button */
.close-button-info{
    width: 100%;
    position: sticky; 
    top: 0px; 
    background-color:#f4d8ec;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
}

/* save timer settings button */
.save-settings-btn {
    outline: none;
    padding: 10px 30px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
    margin-right: 0;
    margin-left: auto;
    background-color: transparent; 
    border: 2px solid #b4c7e8; 
    color: #7ea2e0;
}

.save-settings-btn:hover{
    background-color: #b4c7e8;
    color: #7ea2e0;
}


/* Solid border */
hr.solid {
    border-top: 1px solid;
    border-color: #b68eb430;
  }
  

  .background-option {
    width: 150px;
    height: auto;
    cursor: pointer;
    border: 3px solid transparent;
}

.background-option.selected {
    border-color: rgb(101, 198, 56); 
}


/* ---------------------------------------------------------------------------- */

/* QUOTES */

.quote {
    position: fixed;
    bottom: 20px;
    left: 5%;
    transform: translateX(-10%); 
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    max-width: 500px;
    padding: 20px;
    color: rgb(255, 219, 240); /* Change to your preferred color */
}

.quote.top {
    left: 50%;
    transform: translateX(-50%);
    top: 30px; 
    bottom: auto; /* Remove bottom positioning */
    text-align: center;
    max-width: 350px;
}


/* ---------------------------------------------------------------------- */

.logo {
    max-width: 60px; 
    height: auto;
    margin-right: 10px; 
}

/* ---------------------------------------------------------------------- */

/*  MUSIC BUTTON */


#play-music-btn{
    background-color: #fcd6bf00; 
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    height: 38px;
    width: 38px;
    font-size:larger;
}

#play-music-btn i {
    position: relative;
}

/* Add the cross-off line when the button has the 'crossed-off' class */
#play-music-btn.crossed-off i::after {
    content: '';
    position: absolute;
    top: 50%; /* Center the line vertically */
    left: 0;
    width: 150%;
    height: 10%; /* Line thickness */
    background-color: rgb(255, 255, 255); 
    transform: rotate(15deg); 
    margin-left: -3px;
}

/* -------------------------------------------------------------------------- */

/* FOR SMALLER SCREENS */

/* Styles for smaller screens */
@media (max-width: 1200px) {
    .popup {
        width: 80%;
        max-height: 80%;
        position: fixed;
        transform: translate(-50%, -50%); 
        transition: height 0.5s ease,
        width 0.5s ease;
    }

    .top-bar-title{
       transform: scale(0.8);
       padding-top: 0px;
       transition: transform 0.3s ease;
       transition: transform 0.3s ease-in;
    }

#top-bar {
    top: 0;
    width: 100%;
    min-height: 80px;
    /* display: flex;   */
    transition: height 0.5s ease;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#to-do-btn, #notes-btn{
    transform: scale(0.8);
}

    .top-bar-content {
        width: 100%;
        height: 40%;
        display: flex; /* Hide To-Do and Notes buttons */
        flex-direction: column;
        align-items: end;
        padding-left: 0%;
        padding-right: 0%;
    }

    .container {
        position: absolute;
        top: 30%;
        right: 25%; 
        left: 25%;
        transform: scale(1.5);
        transition: transform 0.5s;
    }

    #plus-btn, #minus-btn{
        display: none;
    }

    #popup-to-do, #popup-notes{   
        margin-left: auto;
        margin-right: auto;
        transform: scale(1);
    }
}
 
@media (max-width: 768px) {
        
    .quote {
        left: 50%;
        transform: translateX(-50%);
        top: 120px; 
        bottom: auto; 
        text-align: center;
        max-width: 350px;
        color: rgb(255, 219, 240); 
        background-color: rgba(252, 251, 251, 0);
    }

    #popup-to-do, #popup-notes{  
        margin-bottom: 10%; 
        transform: scale(0.9);
    }

    .top-bar-title{
        transform: scale(0.7);
        transition: transform 0.3s ease;
        transition: transform 0.3s ease-in;
     }
}

@media (max-width: 400px) {


    #popup-to-do, #popup-notes{  
        margin-bottom: 10%; 
        transform: scale(0.8);
    }

    .top-bar-title{
        transform: scale(0.6);
     }

     #popup-to-do, #popup-notes {
        max-width: 400px;
    }
}

@media screen and (max-height: 720px) {
    #popup-to-do, #popup-notes{  
        margin-bottom: 500px; 
        transform: scale(0.8);
        /* margin-top: -2%; */
        transition: margin-left 1s,
        margin-right 1s;
    }
    .notesDiv {
        max-height: 400px;    
    }

    #list-container {
        max-height: 315px; 
    }
 
}

#info-popup li{
    margin-bottom: 5px;
    color:#494949;
}


body{
    scrollbar-width: thin;
    scrollbar-color: #b68eb4 rgba(255, 255, 255, 0);
    border-radius: 10px;
  }
  
  /* Works on Chrome, Edge, and Safari */
  body::-webkit-scrollbar {
    width: 20px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;

  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #b68eb4;
    border-radius: 20px;
  }